<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="#"  >
            <img src="/{{ .Site.Params.logo1 }}" alt="Herb Polskiego Związku Emerytów, Ręcistów i Inwalidów">
        </a> 
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mierzęcice II</a>
        </div>
        <a href="#"  >
            <img src="/{{ .Site.Params.logo2 }}" alt="Herb gminy Mierzęcice">
        </a>                

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>           
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                <a class="nav-item nav-link 
                    {{ if $currentPage.IsMenuCurrent "main" . }} font-weight-bold active {{ end }}
                    {{ if eq $currentPage.Section (lower .Name )}}font-weight-bold active {{ end }}
                    {{ if eq $currentPage.Title  .Name }}font-weight-bold active {{ end }}"
                   href="{{ .URL }}">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>