{{ define "main" }}
<div>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <address>
        Polski Związek<br />
        Emerytów, Rencistów i Inwalidów<br />
        Oddział Rejonowy w Tarnowskich Górach<br />
        Koło nr 14 Mierzęcice II<br />
        Mierzęcice, Kolejowa 4 <br />
        <abbr title="Telefon">Telefon:</abbr>
        603 204 991
    </address>
    <h3>Aby stać się członkiem naszego koła, należy:</h3>
    <p>- posiadać legitymację emeryta, rencisty lub inwalidy<br />
    - przynieść 1 zdjęcie (do legitymacji)<br />
    - wypełnić deklarację<br />
    - opłacić składki: </p>
    <div style="margin-left:4em">
        <p> - 30 zł rocznie (lub miesięcznie 2,50 zł)<br />
            - 3 zł wpisowego<br />
            - 5 zł za legitymację
        </p>
    </div>
    <p>Można także zostać członkiem wsperającym. Aby uzyskać więcej informacji skontaktuj się z zarządem.</p>
    <h3>Zarząd</h3>
    <address>
        <strong>Przewodniczący: </strong> Czesław Banaś   <a href="mailto:banas.czeslaw@wp.pl">banas.czeslaw@wp.pl</a><br />
        <strong>Wice-przewodniczący: </strong> Ireneusz Łukasik  <br />
        <strong>Sekretarz: </strong> Jacek Malikowski   <a href="mailto:jac55mal@gmail.com">jac55mal@gmail.com</a><br />
        <strong>Skarbnik: </strong> Aleksandra Mamerska   <br />
        <strong>Członek: </strong> Jolanta Sieklińska <br />
        <strong>Członek: </strong> Bogusława Kryczek <br />

    </address>
    <h3>Sekcja kultury i czasu wolnego</h3>
    <strong>Koordynator: </strong> Czesława Dzierżanowska <br />
    <strong>Koordynator: </strong> Henryka Kocot <br />
    <strong>Kronikarz: </strong> Teresa Łukasik <br />
    <br />
    <br />
    <p>Błąd na stronie? Napisz: <a href="mailto:webmaster@pzeriimierzecice.pl">webmaster@pzeriimierzecice.pl</a><br /></p>

</div>
{{ end }}
    